<div class="container">
	<footer class="py-5">
		<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"></div>
		<div class="row">
			<div class="col-6 col-md-2 mb-3">
				<h5>For More</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="https://www.facebook.com/the.kietuanguyen/" class="nav-link p-0 text-muted">Facebook</a>
					</li>
					<li class="nav-item mb-2">
						<a href="https://mail.google.com/mail/u/1/?fs=1&to=kietntgdd210002@fpt.edu.vn&tf=cm" class="nav-link p-0 text-muted">Mail</a>
					</li>
					<li class="nav-item mb-2">
						<a href="https://www.linkedin.com/in/kiet-tuan-nguyen-uog/" class="nav-link p-0 text-muted">LinkedIn</a>
					</li>
				</ul>
			</div>

			<div class="col-6 col-md-2 mb-3">
				<h5>Contributors</h5>
				<ul class="nav flex-column">
					<li class="nav-item mb-2">
						<a href="https://github.com/KieTuaNguyen" class="nav-link p-0 text-muted">Tuan Kiet</a>
					</li>
					<li class="nav-item mb-2">
						<a href="https://github.com/Minh8x8" class="nav-link p-0 text-muted">Tri Minh</a>
					</li>
					<li class="nav-item mb-2">
						<a href="https://github.com/Wowwhat1" class="nav-link p-0 text-muted">Cong Chien</a>
					</li>
				</ul>
			</div>

			<div class="col-md-5 offset-md-1 mb-3">
				<form>
					<h5>Subscribe to our newsletter</h5>
					<p>Monthly digest of what's new and exciting from us.</p>
					<div class="d-flex flex-column flex-sm-row w-100 gap-2">
						<label for="newsletter1" class="visually-hidden">Email address</label>
						<input id="newsletter1" type="text" class="form-control" placeholder="Email address">
						<button class="btn btn-warning" type="button">Subscribe</button>
					</div>
				</form>
			</div>
		</div>
	</footer>
</div>
